
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root{
    --color-lightBlue: #f3f5fc;
    --color-darkBlue: #0A3871;
    --color-gray:#d8dfe8;
    --color-white:#ffffff;
    --color-darkGray: #495057;
    --color-black:#000000;
    --color-shadow:#c7c7c7;
    --fuente-Inter:"Inter", sans-serif;


}

*{
    padding: 0;
    margin: 0;
}


body {
    background-color:var(--color-lightBlue);
    box-sizing: border-box;
    
   
}

.logo__alura{
    padding: 3%;
}

.encriptador{
    display: flex;
    justify-content: flex-start;
    margin-top: 2.77%;
    margin-left: 2.77%;
    
}



.encriptador__ingreso__texto{
    display: flex;
    flex-direction: column;
    margin-top: 6.5%;
    margin-bottom: 3%;
    padding-left: 12.14%;

}

.encriptador__ingreso__texto__box__text{
    background-color: var(--color-lightBlue);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-Inter);
    color: var(--color-darkBlue);
    font-weight: 400;
    width: 100%;
    height: 350%;
}

.encriptador__ingreso__texto__box__text_advertencia{
    display: flex;
    margin-left: 0.7%;
    margin-bottom: 2%;
    align-items: center;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-darkGray);
    gap: 2%;
    
}


.encriptador__ingreso__texto__botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.encriptador__ingreso__texto__Boton_encriptar{
    color: var(--color-white);
    background-color: var(--color-darkBlue);
    width: 328px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
    box-shadow: 0px 10px 20px var(--color-shadow);

}

.encriptador__ingreso__texto__Boton_desencriptar{
    color: var(--color-darkBlue);
    background-color: var(--color-gray) ;
    width: 328px;
    border-color: var(--color-darkBlue);
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
    box-shadow: 0px 10px 20px var(--color-shadow);
}


.box__resultado{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--color-white);
   width: 28.5%;
   height: 900px;
   border-radius: 32px;
   box-shadow: 0px 10px 20px var(--color-shadow);
   margin-left: 3%;
   box-sizing: border-box;
   margin-bottom: 3%;

}

.box__resultado img{
    display: block;
    width: 100%;
}

.box__resultado__textos{
    width: 100%;
    display: flex;
    flex-direction: column;
    display: block;
   
    
}

.box__resultado__texto1_destacado{
    font-family: var(--fuente-Inter);
    font-weight: 700;
    font-size: 1.5rem;
    color: #343A40;
    text-align: center;
    display: block;
   

}

.box__resultado__texto2{
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    color: #495957;
    text-align: center;
    display: block;


}

.box__text_encriptado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.box__text__encriptado_resuelto {
    display: none;
    background-color: var(--color-white);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-Inter);
    color: var(--color-darkBlue);
    font-weight: 400;
    width: 150%; 
    height: 800px; 
   
   
}



.box__text__resuleto__Boton_copiar{
    display: none;
    color: var(--color-darkBlue);
    background-color: var(--color-white) ;
    width: 328px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
    
    
}

.pie__pagina{
    color: var(--color-white);
    background-color: var(--color-darkBlue);
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
    text-align: center;

}

@media screen and (max-width: 770px) {
    .encriptador{
        flex-direction: column;
    }
     
    .encriptador__ingreso__texto{
        padding-left: 0%;

    }

    .encriptador__ingreso__texto__botones{
        width: 680px;

    }
   
    .box__resultado {
        width: 680px;
        margin-left: 0%;
        margin-top: 5%;
        height: 100%;

    }

    .box__resultado img{
        display:none;

    }

    .box__resultado__textos{
        width: 100%;
        padding: 5%;
    }


   
}

@media screen and (max-width: 375px){

    .encriptador__ingreso__texto__box__text{
        height: 250px;
    }
    .encriptador__ingreso__texto__botones{
        flex-direction: column;
        width: 330px;
    }

    .box__resultado{
        width: 327px;
    }
}
